<!DOCTYPE html>

<html>
    <head>
        <title>Weather App</title>
        <link 
        rel="icon" 
        href="/img/weather.png">
        <link 
        rel="stylesheet" 
        href="../css/styles.css">
        <link 
        rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
        crossorigin="anonymous">
    </head>
    <body>
        <div class='main-content'>
        {{>header}} 
        <br>
        <input type="text" class="search-field" placeholder="Insert Location"> <button class="search-btn">Search</button>
            <p class="error"></p>
            <table class="table table-hide">
                <thead class="thead-1">
                    <th><i class="fas fa-temperature-low"> </i>  Temperature</th>
                    <th><i class="fas fa-sticky-note">  </i>  Summary</th>
                    <th><i class="fas fa-location-arrow"></i>  Location</th>
                </thead>
                <tbody>
                    <tr>
                    <td id="temp"></td>
                    <td id="sum"></td>
                    <td id="local"></td>
                    </tr>
                </tbody>
            </table>
            <div id="mintainer" class="min-max">
                <h3>TempMin:</h3> <p id="p_tempMin"></p>
                <h3>TempMax:</h3> <p id="p_tempMax"></p>
            </div>
        </div>

       {{>footer}}
       <script src="./js/main.js"></script>
    </body>
</html>